body {
  overflow: hidden;
  background: #D6C8B9;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: --webkit-box;
  display: -ms-flexbox;
  display: flex;
  --webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  --webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.loading-overlay img {
  width: 5rem;
  -webkit-animation: rotate-logo 1.5s ease 0s infinite normal;
          animation: rotate-logo 1.5s ease 0s infinite normal;
}

.loading-overlay.disappear {
  display: none;
}

.content {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  scroll-behavior: smooth;
}

.content.appear {
  display: block;
}